<!-- Footer -->
<footer class="bg-dark text-center text-white contacto">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/arnoldo.tejedaquezada" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/arnoldotq10" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/arnoldo.tejedaquezada/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Youtube -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCFS_VcG_RVO6dPwqEKthaLQ" role="button"
          ><i class="fab fa-youtube"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/ATQ10" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Deseo recibir novedades: </strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" [(ngModel)]="email" />
                <label class="form-label" for="form5Example2">Dirección Email</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button (click)="suscribir()" type="submit" class="btn btn-outline-light mb-4">
                Suscribirme
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Se trata de un examen de la materia de Tecnologías Web
          <br>
          {{ myDate | date:'medium' }}
        </p>
      </section>
      <!-- Section: Text -->

      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://www.facebook.com/arnoldo.tejedaquezada">Arnoldo Tejeda (al258694)</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->